target/
!.mvn/wrapper/maven-wrapper.jar

.attach_pid*
target/
# logs/*


### escaping security related information in application.properties ###
# use -> 'run.sh / pkg.sh / escape_prop.sh' to generate password escaped 'application.properties'
# src/main/resources/application.properties 
# dev_conf/


### tmp log file ###
logs/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Embedded ActiveMQ Data ###
activemq-data/
